
.divLeftP{
    position: relative;
    width: 75%;
    float: left;
}
.divRightP{
    position: relative;
    float: right;
    width: 25%;
    background: #5FA4E7;
    text-align: center;
}
.divLeftP h1{
    color: #356687;
    text-align: center;
}
.divLeftP h2, h3{
    color: #548DD4;
    text-align: center;
}
.bodyP{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5%;
}
.bodyP table th{
    background: #5FA4E7;
    color: #FFF;
    padding: 5px;
    font-weight: bolder;
}
.bodyP table td{
    border: #5FA4E7 solid 1px;
    color: #000;
    padding: 5px;
    font-weight: bolder;
}
.bodyP #divDatos{
    margin-top:-5%;
}
#backth{
    background: #356687;
}

.container table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 95%;
    border-collapse: collapse; 
    border-spacing: 0;
}

.container  td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s; /* Simple transition for hover effect */
    border: 2px solid #fff;
}

.container th {
    background: #DFDFDF; /* Darken header a bit */
    font-weight: bold;
}

.container td {
    background: #FAFAFA;
    text-align: left;
    border: 2px solid #fff;
}

/* Cells in even rows (2,4,6...) are one color */
.container tr:nth-child(even) td { background: #DFDFDF; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
.container tr:nth-child(odd) td { background: #FEFEFE; }

.container tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.mce-btn button {
    padding: 4px 2px;
}

.mce-notification.mce-has-close{
    display: none;
}
.mce-statusbar .mce-container-body{
    display: none; 
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 9%;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Seleccionar";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Seleccionar";
}
*, ::after, ::before {
    box-sizing: border-box;
}
input[type="file" ] {
    align-items: baseline;
    color: inherit;
    text-align: start !important;
}
user agent stylesheet
input[type="hidden" ], input[type="image" ], input[type="file" ] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
button, input {
    overflow: visible;
}