
/**
 * FUENTES PARA EL APLICATIVO DE 
 * SUBSIDIOS DE VIVIENDA SDHT
 * @author Bernardo Zerda
 * @version 1.0 Mayo de 2009
**/


/** FUENTES GENERALES **/


body {
    background: White;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0px;	
}

button.reporteadorPlay{
    font-family: sans-serif;
    font-weight: bold;
    background: url(../imagenes/play-icon.jpg) no-repeat;
    background-position: left;
    border: 1px solid #999999;
    font-size: 12px;
    vertical-align: middle;
    text-align: left;
    padding: 3px;
    padding-left: 25px;
    cursor: pointer;
}

button.reporteadorExport{
    font-family: sans-serif;
    font-weight: bold;
    background: url(../imagenes/excel.gif) no-repeat;
    background-position: left;
    border: 1px solid #999999;
    font-size: 12px;
    vertical-align: middle;
    text-align: left;
    padding: 3px;
    padding-left: 25px;
    cursor: pointer;
}	


input, textarea, select {
    border: 1px solid #999999;
    padding-left: 5px;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

input.buscarCedula{
    background: #F9F9F9 no-repeat left;
    background-image: url(../imagenes/icono_lupa.gif);
    height: 20px;
    border: none;
    padding-left: 15px;
}

.inputLogin{
    border: 1px solid #999999;
    padding-left: 5px;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
    text-transform: none;
}

table, td, tr, div, th, label {
    font-size: 11px;	
    /*color: #505050;*/
}

option{
    padding-left: 5px;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
    /*color: #505050;*/
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
    color: #C8211B;
    cursor: pointer;
}

.msgError{
    color: #C8211B;
    font-weight: bold;
    font-size: 10px;
    padding-left: 10px;
}
.divError{
    background: url(../imagenes/unchecked.gif) no-repeat;
    display: none;
    padding-left: 16px;
    color: red;
    font-weight: bold;
    position: relative;
    float: left;
    width: 100%;
}

.msgOk{
    color: #4682b4;
    font-weight: bold;
    font-size: 10px;	
    padding-left: 10px;
}

.msgAlerta{
    color: #b6891f;
    font-weight: bold;
    font-size: 10px;
    padding-left: 10px;
}	

.msgVerde{
    color: #008FA6;
    font-weight: bold;
    font-size: 10px;
    padding-left: 10px;
}	


.salir{
    background: #008FA6;
    color: #BBFFFF;
    font-weight: bold;
    padding-right: 1px;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    vertical-align: bottom;	
}

.tituloLogin{
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.tituloCajaLogin{
    background: url(../imagenes/fondoCajaLogin.png) no-repeat;
    color: white;
    font-weight: bold;
}

.mensajeCaptcha{
    font-size: 9px;
    font-style: normal;
    padding-left: 10px;		
}

.menuLateral{
    font-weight: bolder;
    background: url(../imagenes/bullet.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 10px;
}

.menuLateralOver{
    font-weight: bolder;
    background: url(../imagenes/bullet.jpg);
    background-color: #e0e0e0;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 10px;
}

.tituloCampo{
    text-align: left;
    padding-left: 5px;
}

.tituloTabla{
    text-align: left;
    padding-left: 10px;			
    font-weight: bold;
    background: #E4E4E4;
}

.tituloTablaIndicadores{
    text-align: left;
    padding-left: 10px;			
    font-weight: bold;
    background: #505050;
    color: #E4E4E4;
}

.tituloAyuda{
    text-align: right;
    font-size: 9px;
}

.menu{
    padding-left: 5px;
}

.chartGraficas
{ 
    width: 98%;
    height: 350px;
    margin-bottom: 10px;
} 

.chartGraficasImprimir
{ 
    width: 540px;
    height: 360px;
    margin-bottom: 10px;
} 

.tituloReportesImprimir
{
    font-weight: bolder;
    height: 120%;
    font: larger;
}

.yui-skin-sam .yui-dt-liner 
{ 
    white-space:nowrap; 

}
.tablePrincipal{
    max-width: 900px;
}

.tituloVerde{
    background: #008FA6; 
    color: #BBFFFF; 
    font-weight: bold; 
    padding-left: 10px; 
    font-size: 12px; 
    text-decoration: none; 
    vertical-align: middle;
    height: 20px
}	 

.botonMas{

    cursor:pointer; 
    height:13px; 
    width:10px; 
    float:left; 
    border: 1px solid #999999; 
    text-align:center;
}

.fila_0 { 
    background-color: #FFFFFF;
}

.fila_1 { 
    background-color: #E4E4E4;
}

.tituloNivel0{ 
    font-weight: bold; 
    vertical-align: top;
    padding-top: 6px;
    padding-left: 5px;
}

.tituloNivel1{ 
    vertical-align: top;
    padding-top: 6px;
    padding-left: 15px;
}

.campoNivel1{ 
    text-align: center;
    vertical-align: top;
    padding-top: 6px;
}

.fechaNivel1{ 
    text-align: center;
    vertical-align: top;
    padding-top: 3px;
}

.campoValornivell{
    width: 80px;
    text-align: right;
}

.campoReadonly { 
    background-color: #E4E4E4;
}

.campoPesos { 
    text-align: right;
}

.campoPesosReadonly { 
    background-color: #E4E4E4;
    text-align: right;
}

.accordionItem h2 { 
    margin: 0; 
    font-size: 1.1em; 
    padding: 0.4em; 
    color: #FFFFFF;
    text-align:	left;
    background-color: #008FA6; 
    border-bottom: 1px solid #BCBCBC;
}
.accordionItem h2:hover { 
    cursor: pointer;
}
.accordionItem div { 
    margin: 0; 
    padding: 1em 0.4em; 
    background-color: #E4E4E4; 
    border-bottom: 1px solid #BCBCBC;
}
.accordionItem.hide h2 { 
    color: #000; 
    background-color: #E4E4E4;
}

.vineta{
    list-style-image: url('vineta.png');
}
.yui-skin-sam .yui-dt tr.vigenciaRojo,
.yui-skin-sam .yui-dt tr.vigenciaRojo td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.vigenciaRojo td.yui-dt-desc,
.yui-skin-sam .yui-dt td.vigenciaRojo td.yui-dt-asc,
.yui-skin-sam .yui-dt td.vigenciaRojo td.yui-dt-desc {
    background-color: F7D3DE;
    color: #fff;
}


/* Class for marked rows */
.yui-skin-sam .yui-dt tr.vigenciaAmarillo,
.yui-skin-sam .yui-dt tr.vigenciaAmarillo td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.vigenciaAmarillo td.yui-dt-desc,
.yui-skin-sam .yui-dt tr.vigenciaAmarillo td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.vigenciaAmarillo td.yui-dt-desc {
    background-color: #feff2b;
    color: #fff;
}


#GraficaTotalGiros488 					, #GraficaTotalHogares488 ,
#GraficaTotalGiros644 					, #GraficaTotalHogares644 ,
#GraficaOperaciones 						, #GraficaOperacionesPorContrato ,
#GraficaCDPEjecutado488 				, #GraficaCDPEjecutado644 ,
#GraficaTotal488 							, #GraficaTotal644 ,
#GraficaOperacionesPorContratoTotal 
{
    width: 420px;
    height: 220px;
}

#GraficaTotalGirosTODO , #GraficaTotalHogaresTODO , #GraficaResumen
{
    width: 420px;
    height: 320px;
} 

.marquee_code{
    height:auto;
    width:auto;
    background-color:FFD519;
    font-family:Helvetica;
    font-size:14pt;
    color:#0012CC;
    border-width:2px;
    border-style:none;
    border-color:F7FF08;
}

#scroll{
    position : absolute;
    white-space : nowrap;
    top : 0px;
    /* left : 200px;*/
    font-size : 14pt;
}

#oScroll{
    margin : 0px;
    padding : 0px;
    position : relative;
    width : 200px;
    height : 20px;
    overflow : hidden;
    font-family : Helvetica;  
    color : #0012CC;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-weight: bold;
    font-size: 5px;
}

.cssConflicto{
    color: #3c763d;
}

#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -260px;
    display: none;
}

#popup:target {
    visibility:visible;
    display: inline;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;

}
.popup-contenedor {
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
    padding:20px 50px;
    background-color: #fafafa;
    color:#333;
    border-radius: 3px;
    width:55%;
}
a.popup-cerrar {
    position: absolute;
    top: 1px;
    right: 3px;
    background-color: rgb(22, 127, 146);
    padding: 3px 6px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    border-radius: 20px;
}


@-webkit-keyframes autopopup {
    from {opacity: 0;margin-top:-200px;}
    to {opacity: 1;}
}
@-moz-keyframes autopopup {
    from {opacity: 0;margin-top:-200px;}
    to {opacity: 1;}
}
@keyframes autopopup {
    from {opacity: 0;margin-top:-200px;}
    to {opacity: 1;}
}

.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}
.responstable tr {
    border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
    border-radius: 5px;
}
.responstable th:first-child {
    display: table-cell;
    text-align: center;
    border-radius: 5px;
}
.responstable th:nth-child(2) {
    display: table-cell;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
.responstable input{
    border-radius: 5px;
    padding: 2px;
    text-align: right;
    width: 95px;
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
    .tablePrincipal{
        max-width: 400px;
    }
}
.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
    text-align: right;
}
.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}
.responstable th, .responstable td {
    text-align: right;
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 0.3em;
    }
}

body {
    padding: 0 1em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
    font-size: 15px;
}
h1 span {
    color: #167F92;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dataTables_scrollHeadInner{
    width: 100% !important;
}
div.dataTables_scrollHead table.table-bordered{
    width: 100% !important;
}

.dataTables_scrollFootInner{
    width: 100% !important;
}       
div.dataTables_scrollFoot table{
    width: 100% !important;
}
.col-sm-1{
    right: 11% !important;
}
.row{
    width: 100% !important;
}