#20160701 Disable server signature
ServerSignature Off

#20160701 Forbid Directory Listing
Options -Indexes

# Cabecera para evitar el clickjacking, MIT, XSC
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload"
Header set Content-Security-Policy:   "script-src 'unsafe-inline' 'unsafe-eval' cloud.tinymce.com code.jquery.com cdn.datatables.net maxcdn.bootstrapcdn.com localhost"
Header set X-Content-Security-Policy: "script-src 'unsafe-inline' 'unsafe-eval' cloud.tinymce.com code.jquery.com cdn.datatables.net maxcdn.bootstrapcdn.com localhost"
Header set X-WebKit-CSP:              "script-src 'unsafe-inline' 'unsafe-eval' cloud.tinymce.com code.jquery.com cdn.datatables.net maxcdn.bootstrapcdn.com localhost"